@using YVFlashcard.Core.DTO;
@model ThemeDTO
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Theme";
}

<input hidden id="currentTheme" value="@Model.themeId" />
<link href="~/Plugins/css/subTheme.css" rel="stylesheet">
<main>
    <!-- theme infor section -->
    <div class="container">
        <div class="row px-5">
            <div class="col-2 ">
                <div>
                    <img src="@Model.image" class="sub_theme-img">
                </div>
            </div>
            <div class="col-10 p-5">
                <div class="row">
                    <h1 class="big_title p-2">@Model.name</h1>
                </div>
                <div class="row">
                    <div class="p-3">
                        <a href="/Home/index" class="back_link">Home /</a>
                        @if (Model.categoryId == 1)
                        {
                            <a href="/Home/index" class="back_link">Cefr Levels / </a>
                        }
                        else if (Model.categoryId == 2)
                        {
                            <a href="/Home/index" class="back_link">Specialised Vocabulary / </a>
                        }
                        else
                        {
                            <a href="/Home/index" class="back_link">Idioms / </a>
                        }
                        <a class="current_link">@Model.name </a>
                    </div>
                </div>
                <div class="row">
                    <p style="line-height: 28px; color: #A8A196;">
                        @Model.description
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------Show sub theme section----- -->
    <div class="container">
        <div class="row px-5 " id="all-subTheme-container">

            <!-- <div class="col-6 px-5 mt-4">
              <div class="card sub_theme-card">
                <h5 class="card-header sub_theme-header">   Lesson 1 - 16 Words </h5>
                <div class="card-body ">
                  <h5 class="card-title mt-2">Hello and Goodbye</h5>
                  <div class="container">
                    <div class="row ">
                      <div class="col pt-4 mt-4 ">
                        <div class="row "> <span class="viewlist-btn"><i class="fa-solid fa-list-ul fa-2x ms-3 "> </span></i></div>
                        <div class="row p-1">
                          <p>View list </p>
                        </div>
                      </div>
                      <div class="col pt-5 mt-4">
                        <button class=" btn btn-outline-success ellipse-btn ms-5 learn-btn" type="button" data-bs-toggle="modal" data-bs-target="#myModalLearning"> <i class="fa-solid fa-calendar-check fa-lg" style="color: #3876BF;"></i> LEARN</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->


        </div>
    </div>


</main>

<div class="modal fade theme-list-modal-lg" id="myModalLearning" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="list-header-container m-auto pt-4">
                <h5 id="list-theme-header"><i class="fa-solid fa-face-smile-wink fa-lg" style="color:#87C4FF;"></i> Learning vocabulary can be more enjoyable with one of the methods below:</h5>
                <br />
            </div>

            <div class="list-group " style="font-size: x-large; text-align: justify; margin: auto; letter-spacing: 5px;">
                <a id="flashcard" href="" class="list-group-item list-group-item-action" style="color: #B3A492; border: none;"><i class="fa-regular fa-eye fa-lg me-3"></i>  Flipping Flashcards </a>
                <a id="spelling" href="" class="list-group-item list-group-item-action" style="color: #94B49F;border: none;"><i class="fa-solid fa-w fa-lg me-3"></i> Word Scramble </a>
                <a id="memory" href="" class="list-group-item list-group-item-action" style="color: #FFCACC;border: none;"><i class="fa-solid fa-magnifying-glass fa-lg me-3"></i> Memory Game </a>
                <a id="quiz" href="" class="list-group-item list-group-item-action" style="color: #DBC4F0;border: none;"><i class="fa-regular fa-circle-question fa-lg me-3"></i> Quiz game </a>
            </div>
        </div>
  </div>
    </div>

        <script src="~/Plugins/js/subTheme.js"></script>
